@mixin strangerBigText {
    font-family: "ITC Benguiat W01";
    font-weight: 800;
    color: #000000;
    text-shadow: -0.05rem -0.05rem 1px #ed2b12, 0.05rem -0.05rem 1px #ed2b12, -0.05rem 0.05rem 1px #ed2b12,
        0.05rem 0.05rem 1px #ed2b12, 0 0 15px #630100, 0 0 20px #450100;
    letter-spacing: -2px;
}

@mixin strangerTitleRed {
    font-family: "ITC Benguiat W01";
    color: white;
    font-weight: 600;
    text-shadow: -1px 2px 1px #c40000;
    font-size: 2rem;
}

@mixin strangerTitleBlue {
    font-family: "ITC Benguiat W01";
    color: white;
    font-weight: 600;
    text-shadow: -1px 2px 1px #2400c4;
    font-size: 2rem;
}

@mixin strangerText {
    font-family: "ITC Benguiat W01";
    color: white;
}

body {
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 1000px) {
    .up, .down {
        display: none;
    }

}



/*----------------------------------------- TEXTE FACON STRANGER THINGS----------------------------*/
/* Plein écran */
.st {
    @include strangerBigText();
    position: fixed;
    left: 5vw;
    right: 5vw;
    margin-top: 25vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 80px;
    transition: 1s; //pour le hover et la disparition du texte
    animation: blur 2s ease-out infinite; // durée de l'animation blur du titre
}

// ANIMATION BLUR
@keyframes blur {
    from {
        text-shadow: -0.05rem -0.05rem 5px #ed2b12, 0.05rem -0.05rem 5px #ed2b12, -0.05rem 0.05rem 5px #ed2b12,
            0.05rem 0.05rem 20px #ed2b12, 0 0 45px #630100, 0 0 80px #450100;
    }
}

// Hover sur le titre
.st:hover {
    color: #ff0000;
    transition: 1s;
}

// Position de la 2eme ligne de texte
.st-bottom {
    top: -55px;
    position: relative;
}

// Décalage de la première de et la dernière lettre du haut
.st-drop {
    line-height: 0;
    position: relative;
    top: 20px;
}

// Première et dernière lettres de la ligne du haut
.firstLetterTop {
    font-size: 150%;
    letter-spacing: 5px;
}

.lastLetterTop {
    font-size: 150%;
}

// Première et dernière lettres de la ligne du bas
.firstLetterBot {
    font-size: 110%;
}

.lastLetterBot {
    font-size: 110%;
}

/*- TRAIT ROUGE  -*/
.st-bound {
    box-shadow: -0.05rem -0.05rem 2px #ed2b12, 0.05rem -0.05rem 2px #ed2b12, -0.05rem 0.05rem 2px #ed2b12,
        0.05rem 0.05rem 2px #ed2b12;
    height: 3px;
    transition: 1s;
}

.st-bound-top {
    margin: auto;
    margin-top: -10px;
    margin-bottom: -1.2rem;
    max-width: 60%;
    transform-origin: center center;
}

.st-bound-bot {
    margin: auto;
    margin-top: -90px;
    margin-bottom: -1.2rem;
    max-width: 40%;
    transform-origin: center center;
}

.st-bound-subtitle {
    margin-top: -10px;
}

#subOne,
#subTwo,
#subThree,
#subFour {
    width: 0%;
}

/* TITRE POUR ECRAN MOYEN */

@media screen and (max-width: 630px) {
    .st {
        @include strangerBigText();
        position: fixed;
        left: 5vw;
        right: 5vw;
        margin-top: 25vh;
        text-align: center;
        text-transform: uppercase;
        font-size: 50px;
        transition: 1s; //pour le hover et la disparition du texte
        animation: blur 2s ease-out infinite; // durée de l'animation blur du titre
    }

    // Position de la 2eme ligne de texte
    .st-bottom {
        top: -26px;
        position: relative;
    }

    // Décalage de la première de et la dernière lettre du haut
    .st-drop {
        line-height: 0;
        position: relative;
        top: 20px;
    }

    // Première et dernière lettres de la ligne du haut
    .firstLetterTop {
        font-size: 166%;
        letter-spacing: -1px;
    }

    .lastLetterTop {
        font-size: 166%;
    }

    // Première et dernière lettres de la ligne du bas
    .firstLetterBot {
        font-size: 110%;
    }

    .lastLetterBot {
        font-size: 110%;
    }

    /*- TRAIT ROUGE  -*/
    .st-bound {
        box-shadow: -0.05rem -0.05rem 2px #ed2b12, 0.05rem -0.05rem 2px #ed2b12, -0.05rem 0.05rem 2px #ed2b12,
            0.05rem 0.05rem 2px #ed2b12;
        height: 3px;
        transition: 1s;
    }

    .st-bound-top {
        margin: auto;
        margin-top: -10px;
        margin-bottom: -0.5rem;
        max-width: 100%;
        transform-origin: center center;
    }

    .st-bound-bot {
        margin: auto;
        margin-top: -53px;
        margin-bottom: -1.2rem;
        max-width: 90%;
        transform-origin: center center;
    }

    .st-bound-subtitle {
        margin-top: -10px;
    }
}

.fond {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-image: url("../img/wallpaper3.jpg");
    background-position: center;
}

/*--------------------------------LES PARALLAX ------------------------------*/

// Les parallax

.parallax {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
}

/* Les DIV animées de l'accueil */

.up {
    z-index: 1;
    height: 50vh;
    position: relative;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(46, 73, 187, 1) 1%,
        rgba(24, 42, 99, 1) 21%,
        rgba(0, 0, 0, 1) 70%,
        rgba(0, 0, 0, 1) 100%
    );
    #img_up {
        position: absolute;
        bottom: 0;
    }
}

.down {
    z-index: 1;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50vh;
    background: rgb(255, 102, 102);
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 102, 102, 1) 1%,
        rgba(255, 43, 18, 1) 14%,
        rgba(0, 0, 0, 1) 75%,
        rgba(0, 0, 0, 1) 100%
    );
    #img_down {
        position: absolute;
        top: 0;
    }
}

// animation de l'image du haut

#img_up {
    width: 150px;
    -webkit-animation: 10s linear 0s infinite move_left;
    animation: 10s linear 0s infinite move_left;
}

@-webkit-keyframes move_left {
    from {
        margin-left: 85%;
    }
    to {
        margin-left: -30%;
    }
}

@keyframes move_left {
    from {
        margin-left: 85%;
    }
    to {
        margin-left: -30%;
    }
}

// animation de l'image du bas

#img_down {
    width: 150px;
    -webkit-animation: 10s linear 0s infinite move_right;
    animation: 10s linear 0s infinite move_right;
}

@-webkit-keyframes move_right {
    from {
        margin-left: 0%;
    }
    to {
        margin-left: 100%;
    }
}

@keyframes move {
    from {
        margin-left: 0%;
    }
    to {
        margin-left: 100%;
    }
}

// Autres images

#img_forest11 {
    width: 400px;
    position: absolute;
    bottom: 0;
    opacity: 95%;
}

#img_forest12 {
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 95%;
}

#img_forest21 {
    width: 400px;
    position: absolute;
    top: 0;
    opacity: 95%;
}

#img_forest22 {
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 95%;
}

// réduction des div

.reduced_up {
    z-index: 1;
    height: 0vh;
    transition-duration: 1.5s;
}

.reduced_down {
    z-index: 1;
    height: 0vh;
    transition-duration: 1.5s;
}

/*---------------------------------------PRESENTATION----------------------------------*/

.presentation {
    .p1 {
        @include strangerTitleRed();
    }
    h2 {
        @include strangerBigText();
    }
    p {
        font-family: "ITC Benguiat W01";
        color: white;
    }
    display: none;
    background-color: black;
    z-index: 2;
    width: 100%;
    height: auto;

    .presentationBlack {
        transition: 1s;
        background-color: rgba(0, 0, 0, 0);
    }
}

/*------------------------------MOVING DIV------------------------------*/

.profilPicture::before {
    background-image: url("../img/demogorgon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    content: "";
    left: 5vw;
    width: 80%;
    height: 350px;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    -webkit-animation: sliderShape 5s linear infinite;
}
@keyframes sliderShape {
    0%,
    100% {
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    34% {
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }
    50% {
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
}

.profilPicture:hover::before {
    background-image: url("../img/phototom.jpg");
}

/*-----------------------------------------PARCOURS----------------------------------------*/

.parcours {
    display: none;
    background-image: url("../img/wallpaper2.jpg");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;

    h2 {
        @include strangerBigText();
    }
    .redtitle {
        @include strangerTitleRed();
    }
    .bluetitle {
        @include strangerTitleBlue();
    }
    ul {
        @include strangerText();
    }
    .step {
        background-color: rgba(0, 0, 0, 0.418);
        transition: 1s;
    }
    .parcoursBorder {
        background-color: rgba(0, 0, 0, 0.418);
        box-shadow: -0.05rem -0.05rem 2px #ed2b12, 0.05rem -0.05rem 2px #ed2b12, -0.05rem 0.05rem 2px #ed2b12,
            0.05rem 0.05rem 2px #ed2b12;
        transition: 1s;
    }

    .parcoursBlack {
        transition: 1s;
        background-color: rgba(0, 0, 0, 0);
    }
}

/*-----------------------------------------COMPETENCES----------------------------------------*/

.competences {
    display: none;
    background-color: black;
    height: auto;

    h2 {
        @include strangerBigText();
    }

    h4 {
        @include strangerTitleRed();
    }

    p {
        @include strangerText();
    }
    .listecompetences {
        text-align: center;
        list-style-type: none;
        line-height: 3em;
        white-space: nowrap; /*empeche d'aller a la ligne entre deux mots d'un seul lien*/
    }

    .listecompetences li {
        font-size: 1rem;
        font-weight: bold;
        white-space: nowrap; /*empeche d'aller a la ligne */
        @include strangerText();
    }

    .listecompetences img {
        width: 45px;
        height: auto;
    }

    #hobbies {
        margin-left: 5vw;
    }

    #titre_hobbies {
        margin-left: 5vw;
        @include strangerTitleBlue();
    }

    #competence_colonne1,
    #competence_colonne3,
    #competence_colonne5 {
        background-color: rgba(63, 9, 9, 0.726);
    }

    .competencesBlack {
        transition: 1s;
        background-color: rgba(0, 0, 0, 0);
    }
}

/* --------------------Animation Camion Pompier--------------------------- */

#camion {
    width: 150px;
}

#chemincamion {
    background-color: rgba(255, 255, 255, 0);
    height: 90px;
    width: 100%;
    overflow: hidden;
}

#camionpompier {
    width: 150px;

    -webkit-animation: 10s linear 0s infinite move_eye;
    animation: 10s linear 0s infinite move_eye;
}

@-webkit-keyframes move_eye {
    from {
        margin-left: -30%;
    }
    to {
        margin-left: 100%;
    }
}
@keyframes move_eye {
    from {
        margin-left: -30%;
    }
    to {
        margin-left: 100%;
    }
}

/*-----------------------------------------CONTACT----------------------------------------*/

.contact {
    display: none;
    background-image: url("../img/talkie.jpg");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;

    h2 {
        @include strangerBigText();
    }
    .blue {
        @include strangerTitleBlue();
    }
    .red {
        @include strangerTitleRed();
    }
    p {
        @include strangerText();
    }
    a,
    i {
        color: white;
        font-size: 35px;
    }

    a:hover {
        color: rgba(255, 255, 255, 0.822);
    }
}

/*---------------------------------------------------------FOOTER---------------------------------------------------------------------*/

footer {
    display: none;
    height: 5vh;
    background-color: black;

    color: white;
    p {
        margin-bottom: 0;
    }
}
