@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

/*------------------------------------------RIDEAU ACCUEIL---------------------------------------*/
@media screen and (max-width: 1000px) {
  .up,
  .down {
    display: none;
  }
}

/*----------------------------------------- TEXTE FACON STRANGER THINGS----------------------------*/
/* Plein écran */
.st {
  font-family: "ITC Benguiat W01";
  font-weight: 800;
  color: #000000;
  text-shadow: -0.05rem -0.05rem 1px #ed2b12, 0.05rem -0.05rem 1px #ed2b12, -0.05rem 0.05rem 1px #ed2b12, 0.05rem 0.05rem 1px #ed2b12, 0 0 15px #630100, 0 0 20px #450100;
  letter-spacing: -2px;
  position: fixed;
  left: 5vw;
  right: 5vw;
  margin-top: 25vh;
  text-align: center;
  text-transform: uppercase;
  font-size: 80px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: blur 2s ease-out infinite;
          animation: blur 2s ease-out infinite;
}

@-webkit-keyframes blur {
  from {
    text-shadow: -0.05rem -0.05rem 5px #ed2b12, 0.05rem -0.05rem 5px #ed2b12, -0.05rem 0.05rem 5px #ed2b12, 0.05rem 0.05rem 20px #ed2b12, 0 0 45px #630100, 0 0 80px #450100;
  }
}

@keyframes blur {
  from {
    text-shadow: -0.05rem -0.05rem 5px #ed2b12, 0.05rem -0.05rem 5px #ed2b12, -0.05rem 0.05rem 5px #ed2b12, 0.05rem 0.05rem 20px #ed2b12, 0 0 45px #630100, 0 0 80px #450100;
  }
}

.st:hover {
  color: #ff0000;
  -webkit-transition: 1s;
  transition: 1s;
}

.st-bottom {
  top: -55px;
  position: relative;
}

.st-drop {
  line-height: 0;
  position: relative;
  top: 20px;
}

.firstLetterTop {
  font-size: 150%;
  letter-spacing: 5px;
}

.lastLetterTop {
  font-size: 150%;
}

.firstLetterBot {
  font-size: 110%;
}

.lastLetterBot {
  font-size: 110%;
}

/*- TRAIT ROUGE  -*/
.st-bound {
  -webkit-box-shadow: -0.05rem -0.05rem 2px #ed2b12, 0.05rem -0.05rem 2px #ed2b12, -0.05rem 0.05rem 2px #ed2b12, 0.05rem 0.05rem 2px #ed2b12;
          box-shadow: -0.05rem -0.05rem 2px #ed2b12, 0.05rem -0.05rem 2px #ed2b12, -0.05rem 0.05rem 2px #ed2b12, 0.05rem 0.05rem 2px #ed2b12;
  height: 3px;
  -webkit-transition: 1s;
  transition: 1s;
}

.st-bound-top {
  margin: auto;
  margin-top: -10px;
  margin-bottom: -1.2rem;
  max-width: 60%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.st-bound-bot {
  margin: auto;
  margin-top: -90px;
  margin-bottom: -1.2rem;
  max-width: 40%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.st-bound-subtitle {
  margin-top: -10px;
}

#subOne,
#subTwo,
#subThree,
#subFour {
  width: 0%;
}

/* TITRE POUR ECRAN MOYEN */
@media screen and (max-width: 630px) {
  .st {
    font-family: "ITC Benguiat W01";
    font-weight: 800;
    color: #000000;
    text-shadow: -0.05rem -0.05rem 1px #ed2b12, 0.05rem -0.05rem 1px #ed2b12, -0.05rem 0.05rem 1px #ed2b12, 0.05rem 0.05rem 1px #ed2b12, 0 0 15px #630100, 0 0 20px #450100;
    letter-spacing: -2px;
    position: fixed;
    left: 5vw;
    right: 5vw;
    margin-top: 25vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-animation: blur 2s ease-out infinite;
            animation: blur 2s ease-out infinite;
  }
  .st-bottom {
    top: -26px;
    position: relative;
  }
  .st-drop {
    line-height: 0;
    position: relative;
    top: 20px;
  }
  .firstLetterTop {
    font-size: 166%;
    letter-spacing: -1px;
  }
  .lastLetterTop {
    font-size: 166%;
  }
  .firstLetterBot {
    font-size: 110%;
  }
  .lastLetterBot {
    font-size: 110%;
  }
  /*- TRAIT ROUGE  -*/
  .st-bound {
    -webkit-box-shadow: -0.05rem -0.05rem 2px #ed2b12, 0.05rem -0.05rem 2px #ed2b12, -0.05rem 0.05rem 2px #ed2b12, 0.05rem 0.05rem 2px #ed2b12;
            box-shadow: -0.05rem -0.05rem 2px #ed2b12, 0.05rem -0.05rem 2px #ed2b12, -0.05rem 0.05rem 2px #ed2b12, 0.05rem 0.05rem 2px #ed2b12;
    height: 3px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .st-bound-top {
    margin: auto;
    margin-top: -10px;
    margin-bottom: -0.5rem;
    max-width: 100%;
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  .st-bound-bot {
    margin: auto;
    margin-top: -53px;
    margin-bottom: -1.2rem;
    max-width: 90%;
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  .st-bound-subtitle {
    margin-top: -10px;
  }
}

.fond {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-image: url("../img/wallpaper3.jpg");
  background-position: center;
}

/*--------------------------------LES PARALLAX ------------------------------*/
.parallax {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
}

/* Les DIV animées de l'accueil */
.up {
  z-index: 1;
  height: 50vh;
  position: relative;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(1%, #2e49bb), color-stop(21%, #182a63), color-stop(70%, black), to(black));
  background: linear-gradient(0deg, black 0%, #2e49bb 1%, #182a63 21%, black 70%, black 100%);
}

.up #img_up {
  position: absolute;
  bottom: 0;
}

.down {
  z-index: 1;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 50vh;
  background: #ff6666;
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(1%, #ff6666), color-stop(14%, #ff2b12), color-stop(75%, black), to(black));
  background: linear-gradient(180deg, black 0%, #ff6666 1%, #ff2b12 14%, black 75%, black 100%);
}

.down #img_down {
  position: absolute;
  top: 0;
}

#img_up {
  width: 150px;
  -webkit-animation: 10s linear 0s infinite move_left;
  animation: 10s linear 0s infinite move_left;
}

@-webkit-keyframes move_left {
  from {
    margin-left: 85%;
  }
  to {
    margin-left: -30%;
  }
}

@keyframes move_left {
  from {
    margin-left: 85%;
  }
  to {
    margin-left: -30%;
  }
}

#img_down {
  width: 150px;
  -webkit-animation: 10s linear 0s infinite move_right;
  animation: 10s linear 0s infinite move_right;
}

@-webkit-keyframes move_right {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 100%;
  }
}

@-webkit-keyframes move {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 100%;
  }
}

@keyframes move {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 100%;
  }
}

#img_forest11 {
  width: 400px;
  position: absolute;
  bottom: 0;
  opacity: 95%;
}

#img_forest12 {
  width: 300px;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 95%;
}

#img_forest21 {
  width: 400px;
  position: absolute;
  top: 0;
  opacity: 95%;
}

#img_forest22 {
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 95%;
}

.reduced_up {
  z-index: 1;
  height: 0vh;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.reduced_down {
  z-index: 1;
  height: 0vh;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

/*---------------------------------------PRESENTATION----------------------------------*/
.presentation {
  display: none;
  background-color: black;
  z-index: 2;
  width: 100%;
  height: auto;
}

.presentation .p1 {
  font-family: "ITC Benguiat W01";
  color: white;
  font-weight: 600;
  text-shadow: -1px 2px 1px #c40000;
  font-size: 2rem;
}

.presentation h2 {
  font-family: "ITC Benguiat W01";
  font-weight: 800;
  color: #000000;
  text-shadow: -0.05rem -0.05rem 1px #ed2b12, 0.05rem -0.05rem 1px #ed2b12, -0.05rem 0.05rem 1px #ed2b12, 0.05rem 0.05rem 1px #ed2b12, 0 0 15px #630100, 0 0 20px #450100;
  letter-spacing: -2px;
}

.presentation p {
  font-family: "ITC Benguiat W01";
  color: white;
}

.presentation .presentationBlack {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0);
}

/*------------------------------MOVING DIV------------------------------*/
.profilPicture::before {
  background-image: url("../img/demogorgon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  content: "";
  left: 5vw;
  width: 80%;
  height: 350px;
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  -webkit-animation: sliderShape 5s linear infinite;
}

@-webkit-keyframes sliderShape {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0.01deg);
            transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    -webkit-transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
            transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0.01deg);
            transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    -webkit-transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
            transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}

@keyframes sliderShape {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0.01deg);
            transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    -webkit-transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
            transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0.01deg);
            transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    -webkit-transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
            transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}

/*adaptation de la taille de la photo de CV pour ne pas trop l'étirer en mode grand écran*/
@media screen and (min-width: 900px) {
  .profilPicture::before {
    width: 60%;
  }
}

.profilPicture:hover::before {
  background-image: url("../img/phototom.jpg");
}

/*-----------------------------------------PARCOURS----------------------------------------*/
.parcours {
  display: none;
  background-image: url("../img/wallpaper2.jpg");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
}

.parcours h2 {
  font-family: "ITC Benguiat W01";
  font-weight: 800;
  color: #000000;
  text-shadow: -0.05rem -0.05rem 1px #ed2b12, 0.05rem -0.05rem 1px #ed2b12, -0.05rem 0.05rem 1px #ed2b12, 0.05rem 0.05rem 1px #ed2b12, 0 0 15px #630100, 0 0 20px #450100;
  letter-spacing: -2px;
}

.parcours .redtitle {
  font-family: "ITC Benguiat W01";
  color: white;
  font-weight: 600;
  text-shadow: -1px 2px 1px #c40000;
  font-size: 2rem;
}

.parcours .bluetitle {
  font-family: "ITC Benguiat W01";
  color: white;
  font-weight: 600;
  text-shadow: -1px 2px 1px #2400c4;
  font-size: 2rem;
}

.parcours ul {
  font-family: "ITC Benguiat W01";
  color: white;
}

.parcours .step {
  background-color: rgba(0, 0, 0, 0.418);
  -webkit-transition: 1s;
  transition: 1s;
}

.parcours .parcoursBorder {
  background-color: rgba(0, 0, 0, 0.418);
  -webkit-box-shadow: -0.05rem -0.05rem 2px #ed2b12, 0.05rem -0.05rem 2px #ed2b12, -0.05rem 0.05rem 2px #ed2b12, 0.05rem 0.05rem 2px #ed2b12;
          box-shadow: -0.05rem -0.05rem 2px #ed2b12, 0.05rem -0.05rem 2px #ed2b12, -0.05rem 0.05rem 2px #ed2b12, 0.05rem 0.05rem 2px #ed2b12;
  -webkit-transition: 1s;
  transition: 1s;
}

.parcours .parcoursBlack {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0);
}

/*-----------------------------------------COMPETENCES----------------------------------------*/
.competences {
  display: none;
  background-color: black;
  height: auto;
}

.competences h2 {
  font-family: "ITC Benguiat W01";
  font-weight: 800;
  color: #000000;
  text-shadow: -0.05rem -0.05rem 1px #ed2b12, 0.05rem -0.05rem 1px #ed2b12, -0.05rem 0.05rem 1px #ed2b12, 0.05rem 0.05rem 1px #ed2b12, 0 0 15px #630100, 0 0 20px #450100;
  letter-spacing: -2px;
}

.competences h4 {
  font-family: "ITC Benguiat W01";
  color: white;
  font-weight: 600;
  text-shadow: -1px 2px 1px #c40000;
  font-size: 2rem;
}

.competences p {
  font-family: "ITC Benguiat W01";
  color: white;
}

.competences .listecompetences {
  text-align: center;
  list-style-type: none;
  line-height: 3em;
  white-space: nowrap;
  /*empeche d'aller a la ligne entre deux mots d'un seul lien*/
}

.competences .listecompetences li {
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  /*empeche d'aller a la ligne */
  font-family: "ITC Benguiat W01";
  color: white;
}

.competences .listecompetences img {
  width: 45px;
  height: auto;
}

.competences #hobbies {
  margin-left: 5vw;
}

.competences #titre_hobbies {
  margin-left: 5vw;
  font-family: "ITC Benguiat W01";
  color: white;
  font-weight: 600;
  text-shadow: -1px 2px 1px #2400c4;
  font-size: 2rem;
}

.competences #competence_colonne1,
.competences #competence_colonne3,
.competences #competence_colonne5 {
  background-color: rgba(63, 9, 9, 0.726);
}

.competences .competencesBlack {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0);
}

/* --------------------Animation Camion Pompier--------------------------- */
#camion {
  width: 150px;
}

#chemincamion {
  background-color: rgba(255, 255, 255, 0);
  height: 90px;
  width: 100%;
  overflow: hidden;
}

#camionpompier {
  width: 150px;
  -webkit-animation: 10s linear 0s infinite move_eye;
  animation: 10s linear 0s infinite move_eye;
}

@-webkit-keyframes move_eye {
  from {
    margin-left: -30%;
  }
  to {
    margin-left: 100%;
  }
}

@keyframes move_eye {
  from {
    margin-left: -30%;
  }
  to {
    margin-left: 100%;
  }
}

/*-----------------------------------------CONTACT----------------------------------------*/
.contact {
  display: none;
  background-image: url("../img/talkie.jpg");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  height: 95vh;
}

.contact h2 {
  font-family: "ITC Benguiat W01";
  font-weight: 800;
  color: #000000;
  text-shadow: -0.05rem -0.05rem 1px #ed2b12, 0.05rem -0.05rem 1px #ed2b12, -0.05rem 0.05rem 1px #ed2b12, 0.05rem 0.05rem 1px #ed2b12, 0 0 15px #630100, 0 0 20px #450100;
  letter-spacing: -2px;
}

.contact .blue {
  font-family: "ITC Benguiat W01";
  color: white;
  font-weight: 600;
  text-shadow: -1px 2px 1px #2400c4;
  font-size: 2rem;
}

.contact .red {
  font-family: "ITC Benguiat W01";
  color: white;
  font-weight: 600;
  text-shadow: -1px 2px 1px #c40000;
  font-size: 2rem;
}

.contact p {
  font-family: "ITC Benguiat W01";
  color: white;
}

.contact a,
.contact i {
  color: white;
  font-size: 35px;
}

.contact a:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.contact i:hover {
  opacity: 0.5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/*---------------------------------------------------------FOOTER---------------------------------------------------------------------*/
footer {
  display: none;
  height: 5vh;
  background-color: black;
  color: white;
}

footer p {
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */